body {
    background-color: #7CD4FD;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    z-index: -1;
}
.top{
    height: 900px;
    width: 100%;
    position: relative;
    scroll-snap-type: y mandatory;
}

.hero_back {
    z-index: 0;
    width: 100vw;
    position: absolute;
}
.Hero {
    display: flex;
    background-repeat: none !important;
    height: 800px;
    transform: translateX(-10px);
    right: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
      
}

.heroSentence h1 {
    color: #FDB022;
    font-family: Gill Sans;
    font-size: 100px;
    padding: 40px;
}

.Hero .hiking {
    width: 400px;
    transform: translateY(120px);
    transform: translateX(150px);
    z-index: 1;
}

.Hero .surfing {
    width: 350px;
    transform: translateY(-160px);
    transform: translateX(600px);
    position: absolute;
}

.Hero > .sun {
    width: 300px;
    height: 300px;
    right: 0px;
    top: 0px;
}

.inform {
    height: 1000px;
    scroll-snap-type: y mandatory;
}

.mind {
    height: 748px;
    margin-top: 8rem;
}  

.mind_bubble {
    z-index: 0;
    position: absolute;
    width: 100vw;
}
 .sentence {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 80px;
    color: white;
    z-index: 1;
    transform: translateY(30px);
    padding: 40px;
}



.orange {
    color: #F79009;
    line-height: 0%;
    font-size: 100px;
}

.deaths {
    display: flex;
    justify-content: space-evenly;
}

.deaths img {
    width: 400px;
}



.deaths p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    color: white;
}

.sunscreen {
    height: fit-content;
    scroll-snap-type: y mandatory;
}

.sunscreen > .title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500px;
    text-shadow: 1px 1px 2px grey;
    color: white;
    font-size: 40px;
    display: flex;
}

.orangeT {
    padding-right: 2rem;
    color: #FDB022;
    font-size: 86px;
    transform: translateY(-10px);
}

.product {
    display: flex;
    justify-content: space-evenly;
}

.product img {
    width: 500px;
}

.product > .tagline {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FEDF89;
    font-size: 48px;
    text-shadow: 1px 1px 2px grey;
    top: 0px;
}

.footer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    scroll-snap-type: y mandatory;
}

.footerTag {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    font-weight: 500;
    color: white;
    line-height: 50%;
    position: relative;
    padding: 40px;
}

.carousel-container {
    overflow-x: hidden; 
    height: fit-content;
    margin-bottom: 8rem;
}

.carousel {
    width: 100vw;
    margin-bottom: 8rem;
    overflow: hidden;
    position: relative;
    width: 100vw;
    animation: slide 10s infinite;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.carousel img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 360px;
    position: relative;
    margin-left: 4rem;
    transition: transform .4 ease-in-out;
    flex-shrink: 0;
}


  .carousel-container .carousel {
    position: relative;
    animation: slide 10s infinite;
    animation-timing-function: linear;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }